 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap'); 

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body{
  font-family: 'Poppins', sans-serif;
  background: rgb(79,72,189);
  background: linear-gradient(90deg, rgba(79,72,189,1) 26%, rgba(133,115,229,1) 58%, #5398ef 91%, rgba(0,212,255,1) 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
                                                
 }
 #todo-form{
  width: 400px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #445;
 

 }

 input, button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #5398ef;
 }

 button {
  background-color: transparent;
  margin-left: 20px;
  color: #5398ef ;
  cursor: pointer;
 }

 button:hover {
  background-color: #5398ef;
  color: #fff;
 }
input:focus {
  outline: none;
}

.todo-container {
 flex-direction: column;
  color: #5398ef;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  
}

.todo-item{
  font-size: large;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;

 
}
i {
  cursor: pointer;
}

.title {
  text-align: center;
  color: rgba(201,196,231,1) ;
  font-weight: 800;
  font-family: 'Dosis', sans-serif;
  font-family: 'PT Serif', serif;
  flex-direction: column;
  display: flex;
  justify-content:center;
  font-size: 50px;
}

.cnt{
  background-color: aliceblue;
  border-radius: 10px;
}